---
import { Icon } from "astro-icon/components";
---

<style>
  .app-notification-item {
    cursor: pointer;
  }

  .app-notification-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
</style>

<div class="app-notification-bell">
  <button class="btn btn-link position-relative" id="app-notification-button" data-bs-toggle="dropdown">
    <Icon name="tabler:bell" />
    <span
      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
      id="app-notification-badge"
    >
      0
    </span>
  </button>
  <div class="dropdown-menu dropdown-menu-end p-2" id="app-notification-dropdown" style="min-width: 300px">
    <div class="app-notifications-list" id="app-notifications-list">
      <div class="text-center text-muted">No notifications</div>
    </div>
  </div>
</div>
