---
import "../styles/main.scss";
import MainNavRibbon from "../components/MainNavRibbon.astro";

interface Props {
  title?: string;
}

const {title = "Webterm"} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Access your cloud server's terminal from anywhere"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>{title}</title>
  </head>
  <body>
    <MainNavRibbon/>

    <main>
      <slot/>
    </main>

    <script src="../scripts/client/global_imports.ts"></script>
  </body>
</html>
