---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Webterm Terminal">
  <button id="wt-connect-button">Connect</button>
</Layout>

<script src="../scripts/client/homepage.ts"></script>
