---
import Layout from "../layouts/Layout.astro";
import TerminalTopRibbon from "../components/TerminalTopRibbon.astro";
---

<Layout>
  <div class="container-fluid min-vh-100 d-flex flex-column g-0">
    <div class="row gx-2">
      <TerminalTopRibbon />
    </div>
    <div id="app-terminal" class="row flex-grow-1"></div>
  </div>
  <script src="../scripts/client/entry-points/terminal.ts"></script>
</Layout>
