---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container-fluid p-0 m-0">
    <div id="app-terminal" class="w-100 h-100"></div>
  </div>
  <script src="../scripts/client/entry-points/terminal.ts"></script>
</Layout>
